<div class="m-2">
    <div >
        <div class="flex flex-wrap justify-center">
            <div class="primary-medium-font-size mt-4">
                Invite/Uninvite Truckers/Transporters to Bid/Quote for the following freight plan
            </div>
         </div>
     
         <div class="flex flex-wrap justify-center">
            <div class="primary-medium-font-size mt-3">Route Plan:</div>
            <div class="ml-6 mt-4">
                <div class="primary-small-font-size">1. Biz Name <span class="ml-1">1</span>  <span class="text-stone-900 ml-2"><b>.</b>Hosur,Krishnagiri</span></div>
                <div class="primary-small-font-size mt-2">2. Biz Name <span class="ml-1">2</span>  <span class="text-stone-900 ml-2"><b>.</b>Sivakasi, Virudhunagar</span></div>
                <div class="primary-small-font-size mt-2">3. Biz Name <span class="ml-1"> 3</span>   <span class="text-stone-900 ml-2"><b>.</b>Kovilpatti, Virudhunagar</span></div>
            </div>
         </div>
     
         <div class="flex flex-wrap justify-center mt-6 mr-36">
            <div class="primary-medium-font-size">Delivery Qty:</div>
            <div class="primary-small-font-size mt-1 ml-2"> <span class="text-stone-900 ml-2 ">8 MT + 2 Nos</span></div>
         </div>
    </div>



    <div class="black-medium-font-size mt-6">
        Select From Transporters who have sent quotes/bids:
    </div>

    <div class="flex flex-row mt-4" >
        <div><button type="submit" mat-raised-button class="primary-button" routerLink="invite-edit-transporters">AllocateFreight</button></div>
        <div class="ml-2"><button type="submit" mat-raised-button class="primary-button">Notify Transporter</button></div>  
    </div>


<!--table 1  -->

                <!-- component--mat-table__custom-table this class only make table design -->
                <div style="overflow-x:auto;"  id="pdfTable" class="component--mat-table__custom-table mt-10">
                  <table   class="table table-bordered table-sm w-full" id="excel_table" mat-table [dataSource]="dataSource">
                   <!-- Position Column -->
                     <ng-container matColumnDef="select" style="border-right: 1px solid #9A9A9A;">
                     <th mat-header-cell *matHeaderCellDef style="width: 47px; max-width: 150px; word-wrap: break-word;margin-left: 0px; padding: 10px;">select</th>
                       <td style="padding:10px;" mat-cell *matCellDef="let element">
                        <div class="flex">
                          <div><mat-radio-button value="1"></mat-radio-button> </div> 
                          <div class="pt-1">{{ element.select }}</div>
                        </div>
                       </td>      
                     </ng-container>
                  
                   <!-- Name Column -->
                    <ng-container matColumnDef="trucker_transporter_name">
                        <th mat-header-cell *matHeaderCellDef style="width:80px; max-width: 150px; word-wrap: break-word;padding: 10px;">trucker_transporter_name</th>
                        <td style="padding:10px;" mat-cell *matCellDef="let element">
                            {{ element.trucker_transporter_name }} 
                        </td>
                    </ng-container>

                  
                  <!-- Weight Column -->
                     <ng-container matColumnDef="quotation_bid_value">
                          <th mat-header-cell *matHeaderCellDef style="width: 80px; max-width: 150px;word-wrap: break-word; padding: 10px;">quotation_bid_value</th>
                          <td style="padding: 10px;" mat-cell *matCellDef="let element">{{ element.quotation_bid_value }}</td>
                     </ng-container>
                  
                         <!-- Symbol Column -->
                         <ng-container matColumnDef="name_of_the_user_who_has_quoted_bid">
                            <th mat-header-cell *matHeaderCellDef style="width: 70px; max-width: 150px; word-wrap: break-word; padding: 10px;">name_of_the_user_who_has_quoted_bid</th>
                           <td style="padding: 10px;" mat-cell *matCellDef="let element">
                              {{ element.name_of_the_user_who_has_quoted_bid }}
                           </td>
                       </ng-container>
                
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>                  
                </div>
          
  <!-- container div -->
</div>

  <!-- paginator filter -->
<div class="">                    
  <mat-toolbar-row class=" component--mat-paginator__remove-space">
    <mat-paginator
    fxLayoutAlign="start start"
    (page)="
    paginatorHtmlElement.nativeElement.querySelector(
    'div.mat-select-value > span > span'
    ).innerHTML =
    paginator.pageSize == 2147483647 ? 'All' : paginator.pageSize
    "
    #paginator
    #paginatorElement
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSizeOptions]="[5, 10, 20, dataSource.data.length]"
    [pageSize]="10"
    >
    </mat-paginator>
  </mat-toolbar-row>
    
    
    
    
    <div class="flex w-full">
    <div class="custom-mat-floating-label">
    <mat-form-field
    appearance="outline"
    class="component--mat-form-field__custom-input pl-2"
    >
    <mat-label>Filter</mat-label>
    <input
    [disabled]="paginator.pageSize == dataSource.data.length? false : true"
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Lithium"
    #input
    />
    </mat-form-field>
    </div>
    
    <div class="flex w-full justify-end">
    <span class="p-5 cursor-pointer text-sm font-medium" [matMenuTriggerFor]="menu">Export</span>
    </div>
    </div>   
    
    <div class="app-hint">
    * Please select all Records to enable table data Filter.
    </div>


</div>

<!-- Mat Menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="downloadAsPDF()">
    <mat-icon>picture_as_pdf</mat-icon>
    <span>Print / Export PDF</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.xlsx')">
    <mat-icon>grid_on</mat-icon>
    <span>Export SpreadSheet</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.csv')">
    <mat-icon>grid_on</mat-icon>
    <span>Export csv File</span>
  </button>
  <button mat-menu-item (click)="exportReport('sample.json')">
    <mat-icon>grid_on</mat-icon>
    <span>Export json</span>
  </button>
</mat-menu>>






<!-- table 2 -->
<div>
  
       <!-- component--mat-table__custom-table this class only make table design -->
       <div style="overflow-x:auto;"  id="pdfTable" class="component--mat-table__custom-table mt-10">
        <table   class="table table-bordered table-sm w-full" id="excel_table" mat-table [dataSource]="dataSource1">
         <!-- Position Column -->
           <ng-container matColumnDef="select" style="border-right: 1px solid #9A9A9A;">
           <th mat-header-cell *matHeaderCellDef style="width: 47px; max-width: 150px; word-wrap: break-word;margin-left: 0px; padding: 10px;">select</th>
             <td style="padding:10px;" mat-cell *matCellDef="let element">
              <div class="flex">
                <div><mat-radio-button value="1"></mat-radio-button> </div> 
                <div class="pt-1">{{ element.select }}</div>
              </div>
             </td>      
           </ng-container>


        
         <!-- Name Column -->
          <ng-container matColumnDef="trucker_transporter_name">
              <th mat-header-cell *matHeaderCellDef style="width:80px; max-width: 150px; word-wrap: break-word;padding: 10px;">trucker_transporter_name</th>
              <td style="padding:10px;" mat-cell *matCellDef="let element">
                  {{ element.trucker_transporter_name }} 
              </td>
          </ng-container>

        
        <!-- Weight Column -->
           <ng-container matColumnDef="key_contact_user_name">
                <th mat-header-cell *matHeaderCellDef style="width: 80px; max-width: 150px;word-wrap: break-word; padding: 10px;">key_contact_user_name</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element">{{ element.key_contact_user_name }}</td>
           </ng-container>
        
               <!-- Symbol Column -->
               <ng-container matColumnDef="reg_mobile_no">
                  <th mat-header-cell *matHeaderCellDef style="width: 70px; max-width: 150px; word-wrap: break-word; padding: 10px;">reg_mobile_no</th>
                 <td style="padding: 10px;" mat-cell *matCellDef="let element">
                    {{ element.reg_mobile_no }}
                 </td>
             </ng-container>

                 <!-- Symbol Column -->
                 <ng-container matColumnDef="areas_serviced_by_the_transporter">
                  <th mat-header-cell *matHeaderCellDef style="width: 70px; max-width: 150px; word-wrap: break-word; padding: 10px;">areas_serviced_by_the_transporter</th>
                 <td style="padding: 10px;" mat-cell *matCellDef="let element">
                    <!-- {{ element.areas_serviced_by_the_transporter }} -->
                    <div>
                      <ol>
                        <li>Hosur, Krishnagiri, Tamil Nadu</li>
                        <li>Tamil Nadu</li>
                        <li>West Bengal</li>
                      </ol>
                    </div>
                 </td>
             </ng-container>
      
           <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>                  
      </div>
</div>


  <!-- paginator filter -->
  <div class="">                    
    <mat-toolbar-row class=" component--mat-paginator__remove-space">
      <mat-paginator
      fxLayoutAlign="start start"
      (page)="
      paginatorHtmlElement.nativeElement.querySelector(
      'div.mat-select-value > span > span'
      ).innerHTML =
      paginator.pageSize == 2147483647 ? 'All' : paginator.pageSize
      "
      #paginator
      #paginatorElement
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSizeOptions]="[5, 10, 20, dataSource.data.length]"
      [pageSize]="10"
      >
      </mat-paginator>
    </mat-toolbar-row>
      
      
      
      
      <div class="flex w-full">
      <div class="custom-mat-floating-label">
      <mat-form-field
      appearance="outline"
      class="component--mat-form-field__custom-input pl-2"
      >
      <mat-label>Filter</mat-label>
      <input
      [disabled]="paginator.pageSize == dataSource.data.length? false : true"
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Lithium"
      #input
      />
      </mat-form-field>
      </div>
      
      <div class="flex w-full justify-end">
      <span class="p-5 cursor-pointer text-sm font-medium" [matMenuTriggerFor]="menu">Export</span>
      </div>
      </div>   
      
      <div class="app-hint">
      * Please select all Records to enable table data Filter.
      </div>
  
  
  </div>
  
  <!-- Mat Menu -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="downloadAsPDF()">
      <mat-icon>picture_as_pdf</mat-icon>
      <span>Print / Export PDF</span>
    </button>
    <button mat-menu-item (click)="exportReport('sample.xlsx')">
      <mat-icon>grid_on</mat-icon>
      <span>Export SpreadSheet</span>
    </button>
    <button mat-menu-item (click)="exportReport('sample.csv')">
      <mat-icon>grid_on</mat-icon>
      <span>Export csv File</span>
    </button>
    <button mat-menu-item (click)="exportReport('sample.json')">
      <mat-icon>grid_on</mat-icon>
      <span>Export json</span>
    </button>
  </mat-menu>>
  
