// src/styles/_variables.scss

// ! Colors
// * Color 
$primary-color: #3366FF;
$secondary-color: #9A9A9A;

// * Background Color
$primary-background-color: #3366FF;
$secondary-background-color: #9A9A9A;

// * Text Color  
$large-text-color: #3366FF;
$medium-text-color: #9A9A9A;
$small-text-color:black;

// ! Font
// * Font Weight
$large-font-weight: 700;
$medium-font-weight: 600;
$small-font-weight:500;
$extra-small-font-weight:400;

// * Font Color
$large-heading-font-color:white;
$medium-heading-font-color:#9A9A9A;
$small-heading-font-color:black;


// * Font Size
$large-font-size:16px;
$medium-font-size:14px;
$small-font-size:12px;
